MONGODB_URL=mongodb://localhost:27017/pharmacortex
REDIS_URL=redis://localhost:6379/0
ANTHROPIC_API_KEY=sk-ant-...
OPENFDA_API_KEY=
RXNORM_BASE_URL=https://rxnav.nlm.nih.gov
CLINICALTRIALS_BASE_URL=https://clinicaltrials.gov/api/v2
PUBMED_BASE_URL=https://eutils.ncbi.nlm.nih.gov/entrez/eutils
NIH_REPORTER_BASE_URL=https://api.reporter.nih.gov
DAILYMED_BASE_URL=https://dailymed.nlm.nih.gov/dailymed/services/v2
OPENFDA_BASE_URL=https://api.fda.gov
FDA_SHORTAGE_URL=https://api.fda.gov/drug/shortage.json
ORANGE_BOOK_DATA_URL=https://www.fda.gov/media/76860/download?attachment=
ORANGE_BOOK_DATA_PATH=
YOUTUBE_API_BASE_URL=https://www.googleapis.com/youtube/v3
YOUTUBE_API_KEY=
CMS_FORMULARY_URL=
CMS_FORMULARY_LOCAL_ZIP=
CMS_OPEN_PAYMENTS_CSV_PATH=
CMS_OPEN_PAYMENTS_CSV_URL=
CMS_PARTD_GEOGRAPHY_CSV_PATH=
CMS_PARTD_GEOGRAPHY_CSV_URL=
PUBMED_TOOL=pharmacortex
PUBMED_EMAIL=
CMS_OPEN_PAYMENTS_DATA_YEAR=2023
CMS_PARTD_DATA_YEAR=2024
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
GATEWAY_HOST=0.0.0.0
GATEWAY_PORT=8000
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2
